@page
@model CS_Project_Manager.Pages.ProjectLandingModel
@{
    ViewData["Title"] = "Project Landing Page";
}

<a href="/Dashboard" class="btn btn-primary" style="position: absolute; top: 10px; right: 10px;">Return to Dashboard</a>

<h2>Project - @Model.ProjectName</h2>

<hr>
<div style="display: flex; gap: 10px;">
    <form method="get" asp-page="/RequirementsStack">
        <input type="hidden" name="projectId" value="@Model.ProjectId.ToString()" />
        <button type="submit" class="btn btn-primary">Requirements Stack</button>
    </form>

    <form method="get" asp-page="/Brainstorm">
        <input type="hidden" name="projectId" value="@Model.ProjectId" />
        <button type="submit" class="btn btn-primary">Brainstorming</button>
    </form>

    <form method="get" asp-page="/Calendar">
        <input type="hidden" name="teamId" value="@Model.AssocTeamId" />
        <button type="submit" class="btn btn-primary">Calendar</button>
    </form>

    <form method="get" asp-page="/SprintBoard">
        <input type="hidden" name="projectId" value="@Model.ProjectId" />
        <button type="submit" class="btn btn-primary">Sprint Board</button>
    </form>

    <form method="get" asp-page="/DeleteProject">
        <input type="hidden" name="projectId" value="@Model.ProjectId" />
        <button type="submit" class="btn btn-danger">Delete Project</button>
    </form>
</div>
